<ion-view title="Formulaire" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="formulaire-form1" class="list ">
            <label class="item item-input " id="formulaire-input1" name="nom">
                <input type="text" placeholder="Nom">
            </label>
            <label class="item item-input " id="formulaire-input3" name="prenom">
                <input type="text" placeholder="Prenom">
            </label>
            <label class="item item-input " id="formulaire-input6" name="site">
                <input type="text" placeholder="Site ">
            </label>
            <label class="item item-input " id="formulaire-input4" name="date">
                <input type="date" placeholder="Date de naissance">
            </label>
        </form>
        <button id="formulaire-button2" style="font-weight:600;border-radius:10px 10px 10px 10px;" class=" button button-balanced  button-block icon ion-android-send "></button>
        <button id="formulaire-button3" style="font-weight:600;border-radius:10px 10px 10px 10px;" class=" button button-assertive  button-block icon ion-android-arrow-back "></button>
    </ion-content>
</ion-view>