<ion-view title="List_Etudiants" id="page2" class="">
    <ion-content padding="true" class="has-header">
        <button id="list_Etudiants-button7" class="button button-positive  button-block icon ion-android-arrow-back"></button>
        <div class="list card " id="list_Etudiants-card1">
            <div class="item item-divider">Etudiants</div>
            <div class="item item-body">
                <ion-list id="list_Etudiants-list2" class="">
                    <ion-item  id="list_Etudiants-list-item4" class="">Item 1</ion-item>
                    <ion-item id="list_Etudiants-list-item5" class="">Item 2</ion-item>
                    <ion-item id="list_Etudiants-list-item6" class="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>